.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content at the top */
    min-height: 100vh;
}


.mvg{
    padding: 3% 15%;
    background-image: url(Home-Pics/slideshow2.png);


}
.whiteline {
    max-width: 100%;
    width: 100%;
    height: 100%; /* Set height */
    background-color: transparent; /* Transparent background */
    border: .5rem solid white; /* Solid white border */
    padding: 5%;
}


#first-carousel{
    background-color: #FFF;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
    height: 60vh;
}


#hr-pics{
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}


.carousel-inner h5{
    color: #AB643C;
    font-weight: bold;
    font-size: 300%;
}


.carousel-inner p{
    color: #421D11;
    font-size: 150%;
}
.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    padding: 0;
}


#but button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: #AB643C;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}


.carousel-indicators button.active {
    background-color: #421D11; /* or any color you prefer */
    transform: scale(1.2); /* slightly larger when active */
}


.carousel-indicators button:hover {
    background-color: #421D11;
    opacity: 0.8;
}


/* Optional: If you want to remove the default bootstrap outline */
.carousel-indicators button:focus {
    outline: none;
    box-shadow: none;
}


/* If you're using Bootstrap and want to override its default styles */
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    margin: 0;
}


.hr{
    background-color: #E0B09D;
    padding: 5%;
    align-items: stretch;
}


.inner-hr{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.hr hr{
    border: none;
    border-top: 5px solid white;
    margin: 20px 0;      
    opacity: 1;
   
}


.hr h1{
    color: #FFF;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
   
}


.house-rules{
    /* display: relative; */
    flex: 2;
    background-color: #FFF;
    padding: 2% 2% 2% 8%;
    border-radius: 1rem;
}


.house-rules h2{
    font-weight: bold;
    color: #AB643C;
    font-size: 200%;
}


.house-rules ul{
    color: #421D11;
    margin-left: 2%;
}




.house-rules li{
    color: #421D11;
    font-size: 180%;
    /* padding-left: 2%; */
}




.hr-img{
    display: flex;
    flex: 2;
    max-width: 30%;
    height: auto;
    border-radius: 2rem;
}


.hr-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}


.our-story{
    padding: 5%;
    text-align: center;
    background-color: #FAF1EA;
}


.our-story h1{
    color: #AB643C;
    font-weight: bold;
    font-size: 500%;
}


.story{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 5%;
}


.story1, .story2, .story3{
    flex: 1;
    display: relative;
    max-width: 33.33%;
    max-height: 30%;
    text-align: justify;
    padding: 2%;  
}
.story1, .story2{
    border-right: 10px solid #AB643C;
}


.story1 img, .story2 img, .story3 img{
    width: 100%;
    height: auto;
}


.story1 p, .story2 p, .story3 p{
    margin-top: 5%;
    font-size: 150%;
    color: #421D11;
}


.sec-four{
    background-color: #AB643C;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.sec-four-img{
    display: flex;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    width: 80%; /* Make sure the div has a set width */
    height: 80vh; /* Adjust the height as needed */
    position: relative;
}


.sec-four-img img{
    width: 100%;
    position: absolute;
    object-fit: cover;
    bottom: -25%;


}


.sec-four-txt{
    display: relative;
    flex: 2;
    text-align: left;
    color: #FAF1EA;
    /* padding: 10% 5%; */
    line-height: 1.5;


}


.sec-four-txt h1{
    font-weight: bold;
    font-size: 400%;
}


.sec-four-txt p{
    font-size: 180%;
}


.gstart{
    color: #AB643C;
    background-color: #fff;
    font-size: 130%;
    padding: 10px 15px; /* Reduce padding to fit content */
    display: inline-block; /* Makes the background wrap only around the text */


    border-radius: 1rem;
   
}






@media (max-width: 1024px) {


    .inner-hr, .story{
        flex-direction: column;
    }


    .hr-img img{
       display: none;
    }


    .story1, .story2{
        border-bottom: 10px solid #AB643C;
        border-right: none;
    }


    .story1, .story2, .story3{
        max-width: 100%;


    }




}





