

.profile,
.profile * {
  box-sizing: border-box;
}

.profile {
  background: #faf1ea;
  height: 990px;
  position: relative;
  overflow: hidden;
}

.profileInfo {
  background: #ffffff;
  border-radius: 30px;
  width: 60%;
  height: 822px;
  position: absolute;
  left: 43px;
  top: 198px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

.petInfo {
  background: #ffffff;
  border-radius: 30px;
  padding: 10px;
  width: 571px;
  height: 822px;
  position: absolute;
  left: 1353px;
  top: 198px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}
.pet-basic-information {
  color: #ab643c;
  text-align: center;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: -70px;
  top: 43px;
  width: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-35 {
  position: absolute;
  inset: 0;
}
.good-boi {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 136.5px);
  top: 99px;
  width: 203px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.male-shih-tzu-7-years-old {
  color: #a6a6a6;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 22px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 149px;
  top: 143px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.delete {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 272px;
  top: 169px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.delete2 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 272px;
  top: 289px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.view-edit {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 149px;
  top: 169px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.view-edit2 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 149px;
  top: 289px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-36 {
  position: absolute;
  inset: 0;
}
.kucci {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 131.5px);
  top: 219px;
  width: 203px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.female-shih-tzu-4-years-old {
  color: #a6a6a6;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 22px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 154px;
  top: 263px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 168px;
  top: 758px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.material-symbols-light-image {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 29px;
  top: 83px;
  overflow: visible;
}
.material-symbols-light-image2 {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 29px;
  top: 203px;
  overflow: visible;
}
.customer-contact2 {
  color: #828282;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 717px;
  top: 879px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pet-basic-information2 {
  color: #ab643c;
  text-align: center;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 520px;
  top: 229px;
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-circle {
  width: 185px;
  height: 185px;
  position: absolute;
  left: 49px;
  top: 222px;
  overflow: visible;
}
.customer-name {
  color: #411d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  left: 441px;
  top: 299px;
  width: 431px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-name2 {
  color: #411d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  left: 955px;
  top: 299px;
  width: 431px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact3 {
  color: #d98d62;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 238px;
  top: 302px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact4 {
  color: #d98d62;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 791px;
  top: 301px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact5 {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 15px;
  font-weight: 400;
  position: absolute;
  left: 49px;
  top: 398px;
  width: 185px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-contact-5-span {
  color: #421d11;
  font-family: "BalooTammudu2-Bold", sans-serif;
  font-size: 16px;
  line-height: 15px;
  font-weight: 700;
}
.customer-contact-5-span2 {
  color: #421d11;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
}
.customer-contact-5-span3 {
  color: #d98d62;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.customer-contact6 {
  color: #d98d62;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 235px;
  top: 342px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.customer-contact7 {
  color: #d98d62;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 793px;
  top: 345px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.customer-contact8 {
  color: #d98d62;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 238px;
  top: 389px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact9 {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  left: 441px;
  top: 345px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact10 {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  left: 948px;
  top: 354px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact11 {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  left: 442px;
  top: 398px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact12 {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  left: 442px;
  top: 445px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact13 {
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 98px;
  top: 647px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact-13-span {
  color: #a4a4a4;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.customer-contact-13-span2 {
  color: #d98d62;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.customer-contact-13-span3 {
  color: #411d11;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.october-3-october-4-2024 {
  color: #a4a4a4;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 98px;
  top: 677px;
  width: 293px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pet-hotel {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 98px;
  top: 629px;
  width: 103px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact14 {
  color: #d98d62;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 238px;
  top: 434px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact15 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 238px;
  top: 302px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact16 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 791px;
  top: 301px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.customer-contact17 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 235px;
  top: 342px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-11 {
  position: absolute;
  inset: 0;
}
.customer-contact18 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 793px;
  top: 345px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.customer-contact19 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 238px;
  top: 389px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact20 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 238px;
  top: 434px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-41 {
  background: #ab643c;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 98px;
  top: 443px;
}
.customer-contact21 {
  color: #ffffff;
  text-align: center;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-contact22 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  left: 70px;
  top: 532px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact23 {
  color: #ab643c;
  text-align: left;
  font-family: "BalooTammudu2-Bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  left: 727px;
  top: 532px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.edit {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 882px;
  top: 218px;
  overflow: visible;
}
.good-boi2 {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  left: 83px;
  top: 597px;
  width: 118px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact24 {
  color: #421d11;
  text-align: right;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  left: 515px;
  top: 601px;
  width: 116px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.customer-contact25 {
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 752px;
  top: 651px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact-25-span {
  color: #a4a4a4;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.customer-contact-25-span2 {
  color: #d98d62;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.customer-contact-25-span3 {
  color: #411d11;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.september-3-12-00-nn-6-00-pm {
  color: #a4a4a4;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 752px;
  top: 681px;
  width: 293px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.daycare {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 752px;
  top: 633px;
  width: 103px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.good-boi3 {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  left: 737px;
  top: 601px;
  width: 118px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact26 {
  color: #421d11;
  text-align: right;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  left: 1169px;
  top: 605px;
  width: 116px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.line-3 {
  width: 567px;
  height: 1px;
  position: absolute;
  left: 64px;
  top: 567.69px;
  transform: translate(0px, -1.69px);
  overflow: visible;
}
.line-17 {
  width: 567px;
  height: 1px;
  position: absolute;
  left: 64px;
  top: 712.69px;
  transform: translate(0px, -1.69px);
  overflow: visible;
}
.line-18 {
  width: 567px;
  height: 1px;
  position: absolute;
  left: 718px;
  top: 712.69px;
  transform: translate(0px, -1.69px);
  overflow: visible;
}
.line-19 {
  width: 567px;
  height: 1px;
  position: absolute;
  left: 718px;
  top: 855.69px;
  transform: translate(0px, -1.69px);
  overflow: visible;
}
.line-16 {
  width: 567px;
  height: 0.2px;
  position: absolute;
  left: 717px;
  top: 568.69px;
  transform: translate(0px, -1.69px);
  overflow: visible;
}
.line-5 {
  width: 500px;
  height: 1.27px;
  position: absolute;
  left: 235px;
  top: 382.62px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.line-11 {
  width: 500px;
  height: 1.27px;
  position: absolute;
  left: 235px;
  top: 334.62px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.line-9 {
  width: 500px;
  height: 1.27px;
  position: absolute;
  left: 780px;
  top: 382.62px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.line-12 {
  width: 500px;
  height: 1.27px;
  position: absolute;
  left: 780px;
  top: 334.62px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.line-7 {
  width: 1050px;
  height: 1.27px;
  position: absolute;
  left: 234px;
  top: 475.29px;
  transform: translate(0px, -0.53px);
  overflow: visible;
}
.line-6 {
  width: 1050px;
  height: 1.27px;
  position: absolute;
  left: 235px;
  top: 428.29px;
  transform: translate(0px, -0.53px);
  overflow: visible;
}
.account-circle2 {
  width: 185px;
  height: 165px;
  position: absolute;
  left: -2040px;
  top: 135px;
  overflow: visible;
}
.registered-customer-header-profile {
  width: 1883px;
  height: 159px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.new-customers-header-final {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-103 {
  position: absolute;
  inset: 0;
}
.new-customers-header {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.new-customers-header2 {
  background: #faf1ea;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
._462574606-478799105316521-3440020879426045629-n {
  width: 348.44px;
  height: 231.61px;
  position: absolute;
  left: -77px;
  top: -36.07px;
  transform-origin: 0 0;
  transform: rotate(-14.277deg) scale(1, 1);
  object-fit: cover;
}
._462574606-478799105316521-3440020879426045629-n2 {
  width: 424.69px;
  height: 283.21px;
  position: absolute;
  left: 1587.54px;
  top: 327.94px;
  transform-origin: 0 0;
  transform: rotate(-129.395deg) scale(1, 1);
  object-fit: cover;
}
._462554958-1067248708458153-4147042574041504358-n {
  width: 150px;
  height: 96.7px;
  position: absolute;
  left: 549.68px;
  top: -5px;
  transform-origin: 0 0;
  transform: rotate(29.545deg) scale(1, 1);
  object-fit: cover;
}
._462554958-1067248708458153-4147042574041504358-n2 {
  width: 100px;
  height: 72.59px;
  position: absolute;
  left: 1151px;
  top: 35.27px;
  transform-origin: 0 0;
  transform: rotate(-12.282deg) scale(1, 1);
  object-fit: cover;
}
.frame-57 {
  background: #d98d62;
  width: 1883px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 109px;
  overflow: hidden;
}
.menu-items {
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 377px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 102px;
}
._462548360-911820391047329-1530736664620062120-n {
  width: 159.35px;
  height: 106px;
  position: absolute;
  left: 865px;
  top: 0px;
  object-fit: cover;
}
.header-components {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 8.5%;
  height: 34.59%;
  position: absolute;
  right: 85.93%;
  left: 5.58%;
  bottom: 1.26%;
  top: 64.15%;
}
.about-us {
  color: #ffffff;
  text-align: center;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}
.header-components2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 8.5%;
  height: 34.59%;
  position: absolute;
  right: 64.47%;
  left: 27.03%;
  bottom: 1.26%;
  top: 64.15%;
}
.header-components3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 8.5%;
  height: 34.59%;
  position: absolute;
  right: 45.72%;
  left: 45.78%;
  bottom: 1.26%;
  top: 64.15%;
}
.header-components4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 8.5%;
  height: 34.59%;
  position: absolute;
  right: 24.96%;
  left: 66.54%;
  bottom: 1.26%;
  top: 64.15%;
}
.header-dropdown-log-out {
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px 0px 5px 0px;
  padding: 14px 20px 14px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 8.5%;
  height: 34.59%;
  position: absolute;
  right: 5.63%;
  left: 85.87%;
  bottom: 2.52%;
  top: 62.89%;
}
.profile2 {
  color: #331c15;
  text-align: center;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 116px;
  height: 43px;
}
.group-26 {
  height: auto;
  position: absolute;
  left: 1240px;
  top: 214px;
  overflow: visible;
}
.frame-51 {
  background: #ab643c;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 16px;
  position: absolute;
  left: 83px;
  top: 578px;
}
.customer-contact27 {
  color: #ffffff;
  text-align: center;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-53 {
  background: #ab643c;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 16px;
  position: absolute;
  left: 737px;
  top: 580px;
}
.customer-contact28 {
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 747px;
  top: 793px;
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact-28-span {
  color: #a4a4a4;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.customer-contact-28-span2 {
  color: #d98d62;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.customer-contact-28-span3 {
  color: #411d11;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.september-1-12-00-nn-6-00-pm {
  color: #a4a4a4;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 747px;
  top: 823px;
  width: 293px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.daycare2 {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 747px;
  top: 775px;
  width: 103px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kucci2 {
  color: #421d11;
  text-align: left;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  left: 732px;
  top: 743px;
  width: 118px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-contact29 {
  color: #421d11;
  text-align: right;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  left: 1164px;
  top: 747px;
  width: 116px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.frame-54 {
  background: #ab643c;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 16px;
  position: absolute;
  left: 732px;
  top: 722px;
}
.frame-52 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #d98d62;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 34px;
  position: absolute;
  left: 520px;
  top: 661px;
}
.customer-contact30 {
  color: #331c15;
  text-align: center;
  font-family: "BalooTammudu2-Medium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
