body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background: #faf1ea;
}


.profile{
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    background: #faf1ea;
}


section{
    flex: 4;
    border-radius: 2em;
    display: flex;
    gap: 3%;
}


.col-left{
    flex: 3;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}


.col-right{
    flex:  1;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}


.user-header{
    display: flex;
    flex-direction: row;
}


.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 1rem;
    width: 100%;
}


.personalinfo, .edit-icon {
    color: #ab643c;
    margin: 0;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}


.edit-icon {
    color: #421D11;
}


.notif-icon{
    color: #ffffff;
    background-color: #ab643c;
    border-radius: 50%;
    padding: 10px;
    align-items: center;
    margin: 1rem;
}


.user-deets{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.pfp{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.deets{
    flex: 4;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}


.name{
    display: flex;
    flex-direction: row;
}


.profile-icon{
    max-width: 50%;
    height: auto;
    margin: 5%;
}


.cusID{
    color: #421D11;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}


.cusNum{
    color: #ab643c;
}


.cusMem{
    color: #ffffff;
    background-color: #ab643c;
    border-radius: 2rem;
    padding: 2% 10%;
}


.deet1, .deet2{
    flex: 2;
    display: relative;
    padding: 2%;
    color: #ab643c;
}


.hline{
    width: 100%;
    height: 2px;
    background-color: #ab643c;
    margin: .5rem 0;
    border: none;
    opacity: 1;
    border-top: none
}


.deet3{
    flex: 2;
    display: relative;
    color: #ab643c;
    padding: 2%;
}


.deet{
    margin: 0;
    font-size: 100%;
}


/* CURRENT AND HISTORY RESERVATIONS */
.user-transactions{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}


.user-current, .user-history{
    flex: 1;
    padding: 20px;
}


.curr, .hist{
    margin: 0;
    max-width: 100%;
    width: 100%;
}


.cRev, .hRev {
    background-color: transparent;
    border-bottom: 3px solid #421D11;
   
  }


.currRev, .hisRev{
    color: #AB643C;
    font-weight: bold;
    font-size: 150%;
}


.crBody, .rhBody{
    padding: 2%;
}


.tStatus{
    color: #ffffff;
    background-color: #ab643c;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    display: inline-block;
}


/* TRANSACTION DETAILS */
.tDeets1{
    display: flex;
    flex-direction: row;
}


.tDeets1-1, .tDeets2-1{
    flex: 3;
}


.tDeets1-2, .tDeets2-2{
    flex: 1;
}


.tDeets2-1{
    padding-left: 2rem;
}


.tDeets2-2 {
    display: flex; /* Ensure it's a flex container */
    align-items: flex-end; /* Align items to the bottom */
}


.tpetname, .price, .tservice, .tId, .tDate{
    margin: 0;
}


.tDeets2{
    display: flex;
    flex-direction: row;
}


#reqtoCancel-but{
    color: #331c15;
    font-size: 80%;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: #AB643C;
}




.reason4 {
    display: flex;
    align-items: center;
}


textarea {
    margin-left: 10px;
    width: 200px; /* You can adjust the width of the textarea */
}




/* PET INFORMATION */
.pbi {
    color: #ab643c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    font-size: 20px;
}


.rPet{
    text-align: center;
}
.regPet, #regPet{
    text-decoration: underline;
    margin: 0;
    text-align: center;
    color: #A6A6A6;
    align-items: center;
    width: auto;
}


.petDeets {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}


.petImg {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pet-icon {
    max-width: 100%;
    height: auto;
    padding: 8px;
}


.petInfo {
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: #ab643c;
    padding: 10px;
}


.petname{
    color: #ab643c;
    font-weight: bold;
    font-size: 150%;
    margin: 0;
}


.petdesc{
    color: #A6A6A6;
    margin: 0;


}
.actions {
    display: flex;
    gap: 10px;
}


#mheader{
    border-bottom: none;
}


.modal-content{
    padding: 2%;
}


#editProfileModalLabel, #saveModal{
    color: #421D11;
    font-weight: bold;
    font-size: 200%;
}




#req-to-cancel-title, #process-cancellation-title{
    color: #AB643C;
    font-weight: bold;
    font-size: 180%;
}


#mbody-req-to-cancel, #mbody-process-cancellation{
    color: #421D11;
}


#mbody-process-cancellation{
    text-align: center;
}


input[type="radio"] {
    margin: 10px;
    accent-color: #421D11;
}




#ve, #delbut{
    margin: 0;
    padding: 0;
}


.view-and-edit, .del{
    text-decoration: underline;
    color: #ab643c;
    margin: 0;
    padding: 0;
}


.form-label {
    color: #AB643C;
    font-size: 100%;
}


.form-control {
    border-radius: 8px;
    border: 1px solid #AB643C;
    padding: 0.5rem 1rem;
}


.form-actions{
    text-align: center;
}


.mbody-text p{
    text-align: left;
    color: #421D11;


}


#mod-header{
    color: #AB643C;
    font-weight: bold;
}


#mod-body p{
    color: #421D11;
}


#mfooter{
    border-top: none;
}


#ccbuttons{
    text-align: center;
    justify-content: center;
    align-items: center;
}


#cancel-but{
    border: 1px solid #421D11;
    color: #421D11;
    border-radius: 5px;
    width: auto;
    padding: 5px;
}


#confirm-but{
    color: #ffffff;
    background-color: #563727;
    border: none;
    border-radius: 5px;
    width: auto;
    padding: 5px;


}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}




input[type="file"]{
    display: inline-block;
    border: solid 1px #421D11;
    color: #421D11;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #421D11;
  border-radius: 4px;
  color: #421D11;
}


.form-group label {
    font-size: 100%;
    color: #AB643C;
    font-weight: normal;
}


.radio-group input[type="radio"] {
    margin: 10px;
    accent-color: #421D11;
    color: #421D11;
}


.form-group{
    margin: 2%;
}


#petModalLabel{
    color: #421D11;
    font-weight: bold;


}


.image-upload-container {
    background-color: #421D11;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


#pet-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
}


#gender-dropdown, #petDescription, #petInstruction {
    border: 1px solid #421D11;
    border-radius: 5px;
    padding: 8px 12px;
}


#pet-size, #pet-gender {
    color: #421D11;
}


.btn-check:checked + label {
    background-color: #421D11 !important; /* Change to any color */
    color: white !important;
    border-color: #421D11   !important;
}


.radio-group{
    display: flex;
    align-items: center;
    gap: 10px;
}




/* RESPONSIVE AREA */


@media (max-width: 968px){
    section,
    .profile{
        flex-direction: column;
        gap: 50px;
    }




    .user-deets,
    .user-transactions{
        flex-direction: column;
    }


    .name{
        flex-direction: column;
    }
}




#editProfile,
#req-to-cancel,
#process-cancel,
#reg-pet,
#view-and-edit,
#del-modal{
    background-color: #ffffff;
}

