
/* PROFILE */
.profile-body,
.profile-body * {
  box-sizing: border-box;
}
.profile-body {
  position: relative;
  top: 60px;
  margin-left: 50px;
  width: 80%;
  height: auto;
  row-gap: 25px;
}

.profile-content {
    margin-top: 50px;
    padding: 30px;
}

.profile-field {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 30px;
    width: 70%;
    font-weight: 500;
    font-family: "BalooTammudu2-Medium", sans-serif;
}

.field-label {
    width: 200px;
    color: #421D11;
    font-size: 24px;
    font-weight: 500;
    font-family: "BalooTammudu2-Medium", sans-serif;
}

.field-value {
    flex: 1;
    color: #666;
    font-size: 20px;
}

.logout-container {
    font-family: "BalooTammudu2-Medium", sans-serif;
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 40px;
}

.logout-btn {
    background-color: #ccc;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #b3b3b3;
}